@use '../base/typography';


.profile-card {
    width: clamp(32.7rem, 50vw, 38.4rem);

    background-color: var(--color-grey-800);
    border-radius: 1.2rem;
    padding: clamp(2.4rem, 5vw, 4rem);

    display: grid;
    row-gap: 2.4rem;

    &__header {
        display: grid;
        row-gap: 2.4rem;
        justify-items: center;
    }

    &__user-avatar {
        width: 8.8rem;
        border-radius: 50%;
    }

    &__user-name-location {
        display: grid;
        row-gap: 0.4rem;
    }

    &__user-name {
        @include typography.text-title();
        color: var(--color-white);
    }
    
    &__user-location {
        @include typography.text-subtitle();
        color: var(--color-green);
    }
    
    &__user-description {
        color: var(--color-white);
    }
    
    &__social-links {
        display: grid;
        row-gap: 1.6rem;
        justify-items: center;
    }
}
