@use '../base/typography';


.social-links {
    display: grid;
    row-gap: 1.6rem;
    justify-items: stretch;
    
    &__item {
        list-style-type: none;
    }

    &__link {
        background-color: var(--color-grey-700);
        width: 100%;
        border-radius: 0.8rem;

        display: grid;
        place-content: center;
        padding: 1.2rem;

        @include typography.text-subtitle();
        text-decoration: none;
        color: var(--color-white);

        transition: background-color 0.25s ease-out;

        &:active,
        &:hover {
            background-color: var(--color-green);
            color: var(--color-grey-700);
        }
    }
}
