@use "typography";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {    
    // center content on page
    display: grid;
    place-content: center;
    min-height: 100vh;

    @include typography.text-body();
}
